html{
   background: #778899;
}

.topBanner #bannerTitle h1{
	color: #FFFFFF;
}

.topBanner {
width: 100%;
height: 60px;
background:#002d3d;
}

 .hamburger{
	margin-left: 5px;
}
 #bannerTitle{
     float: left;
     margin-top: 4px;
     padding-left: 10px;
}
#bannerTitle h1{
  font-family: 'Open Sans', sans-serif;
	/*#ffffff;
	letter-spacing: 5px;
    height: 100px;
     font-size: 15px;*/

}

.sidebar{
	float: left;
	

}

.flyoutMenubtn {
	margin: 0 auto;
	padding-top: 10px;
}

.flyoutMenubtn .line{
	width: 40px;
	height: 5px;
	background-color: #00FFFF;
	display: block;
	margin: 5px;
	border-radius: 10px;
	transition: all 0.3s ease;
}
.flyoutMenubtn:hover span{
	background: #f21d1d;
}

.flyoptionMenu{
	position: fixed;
	width: 200px;
	height: 100%;
	background:#002d3d;
	transition:all 0.3s linear;
	margin-top: 25px;
	margin-left: -6px;
	left:-240px;
	z-index: 900;	
}
.flyoptionMenu.active{
   left: 14px;
}

.flyoptionMenu li{
color:#e2dede;
list-style: none;
text-align: left;
padding: 10px;
padding-left: 0px;
border-bottom: 1px solid rgb(175, 172, 172);
margin-left: -30px;
font-family: 'Ascent', sans-serif;
font-size: 20px;
}
ul #submenu a{
	list-style: none;
	text-decoration: none;
	color:#FFC300;
	background: transparent;
	font-family: 'raleway', sans-serif;
	font-size: 15px;

}

.active .line:nth-child(1){
	transform: rotate(45deg) translateY(10px);
	background: #f21d1d;
}
.active .line:nth-child(3){
	transform: rotate(-45deg) translateY(-15px)translateX(3px);
	background: #f21d1d;
}
.active .line:nth-child(2){
	opacity:0;
}

.intro{
	width: 100%;
	height: 250px;
	background: #ECEBE8;
	margin-top: 100px;
}

 .secTitle {
   width: 100%;
	margin: 0;
	padding: 0;
	text-align: center;
	font-size: 2.0625rem;
    font-family: Overpass,sans-serif,sans-serif;
    font-weight: 900;
    font-style: normal;
    text-transform: uppercase;
    color: #002d3d;

}

.secTitle h1::before{
	display: inline-block;
	margin: 0 20px 8px 0;
	height: 3px;
	content: "";
	text-shadow: none;
	background-color: #002d3d;
	width: 200px;

}

.secTitle h1::after{
	display: inline-block;
	margin: 0 20px 8px 30px;
	height: 3px;
	content: "";
	text-shadow: none;
	background-color: #002d3d;
	width: 200px;

}
#journey h1{
	margin-top: 150px;
}
#aboutme h1{
	margin-top: 80px
}

.intro #introImage{
	float: left;
	width:50%;
	height:250px;
	background:#ECEBE8;
	

}
.intro #introSlider{
	float: right; 
	width:50%;
	height:250px;


}

.intro #introSlider .card{
	height:240px;
	margin:4px 13px 4px 0; 
}
#desc {
color:white;
width: 80%;
height: 95%;
background: #002d3d/*#c6c8ca */;
margin-left: 20px;
margin-top: 5px;

-webkit-clip-path: polygon(12% 0, 100% 0%, 100% 100%, 0% 100%);
clip-path: polygon(12% 0, 100% 0%, 100% 100%, 0% 100%);
}

#desc article p{
	
color:#ffffff;
text-align: center;
padding-top: 80px;
font-family: Overpass,sans-serif,sans-serif;
font-weight: 200;
font-size: 30px;

}
#desc article button{
	margin-left: 80px;
	background:#00FFFF; 
}


#desc article img{

	border-radius: 50%;
	margin: 50px 0 0 120px;
	max-width: 100px;
	float:left;
}

.card h3{
	background: #002d3d;
	color: white;
}

.card-body hr{

	border-color: #ECEBE8;
}

.myJourney{
	width: 100%;
	height: 250px;
	background: #002d3d/*#00FFFF */;
	margin-top: 100px;
	display: block;
}

.myJourney h1{
	text-align: center;
	padding-top: 100px;
	font-size: 30px;
	color: #00FFFF;
}

.lookingSearch{
	background: #8c8b88a6;
}

.lookinSearch input{
   width: 700px;
   margin-left: 250px;
   border-radius: 20px;
   height: 50px;
  padding-inline-start:20px;
  padding-inline-end:80px;
  border: none;
  outline-style: none;
}
.lookinSearch input:hover{
	/*outline-style: #34495E, #8596A7;*/
	border:3px solid #92f8f9 ;
	box-shadow:2px 2px #92f8f9 ;
	
}

.lookinSearch button{
	border-radius: 50px;
	width: 50px;
	background: #ffffff/*#002d3d*/;
	border-style: dotted;
	height: 45px;
	margin-left: -80px;
	font-size: 12px;
}
.lookinSearch button:hover{
	outline-style: none;
	background: #002d3d;
	color:white;
}

.grid1{
	width: 100%;
	height: 500px;
	/*background: #CDDDCC;*/

}
.grid1 #container h1{
	color: #FFFFFF;
	text-align: center;

}
.grid1 #container{
    width: 100%;
	height: 600px;
background-image: url(images/prjctBck.jpg);
background-size: cover;
background-repeat: no-repeat;
background-position: center center;
background-attachment: fixed;
}
.grid1 #container .gridContainer1{
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 10px;
	grid-auto-rows: minmax(80px, auto);
}

#Python{
	grid-column: 1/3;
	grid-row:1;
}

#Javascript{
	grid-column:3/4;
	grid-row: 3/3;
}
#Ruby{
	grid-column: 2/2;
	grid-row: 2/5;
}

#Swift{
	grid-column: 1/-1

}

.grid1 #container .gridContainer1 div{
	background:white;
	color: black;
	font-weight: 900;
	text-align: center;
	
}
.grid1 #container .gridContainer1 .control:hover{
	background:#00FFFF;
	color:white;
}
.grid1 #container .gridContainer1>div:nth-of-type(odd){
	background:#002d3d/*#ffc107;*/;
	text-align: center;
	color: #A9A9A9;
}
.grid1 #container .gridContainer1 .control> a{
	text-decoration-style: none;
	color: #C0C0C0;

}
.grid1 #container .gridContainer1 #Ruby>img{
	width:250px;
	height: 250px;
	border-radius: 50px;

}

blockquote {
font-family: Georgia, serif;
font-size: 18px;
font-style: italic;
width: 500px;
margin: 0.25em 0;
padding: 0.35em 40px;
line-height: 1.45;
position: relative;
color: #383838;
}

blockquote:before {
display: block;
padding-left: 10px;
content: "\201C";
font-size: 80px;
position: absolute;
left: -20px;
top: -20px;
color: #7a7a7a;
}

blockquote cite {
color: #999999;
font-size: 14px;
display: block;
margin-top: 5px;
}
 
blockquote cite:before {
content: "\2014 \2009";
}


.footer{

	width: 100%;
	height: 250px;
	background: #002d3d;
	margin-top: 150px;
}

.footer .boxesContainer {

	box-sizing: border-box;
	display: inline-flex;
	flex-direction: row;
	width: 100%;
	flex-wrap: nowrap;
	flex-flow: row nowrap;
	justify-content: space-around;
	margin-top: 30px;

}

.Box{

	width:400px;
	height: 200px;
	border:1px solid #00FFFF;
	color: #FFFFFF;
}

.Box #footerTitle{
	margin-left: 60px;
}

.Box #footerContent{
	font-size: .875rem;
    font-family: Roboto,sans-serif,sans-serif;
    font-weight: 100;
    font-style: normal;
    text-transform: none;
    color: #fff;
    position: relative;
    text-decoration: none;
    margin-top: 30px;

}

.Box .social i{
	font-size: 3em;
}
.Box .social {
	display: flex;
	flex-direction:row;
	flex-wrap: row; 
	flex-flow: nowrap;
	justify-content: space-around;
}